
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@400;700&display=swap');
// @import 'bootstrap/dist/css/bootstrap.min.css'; 

$primary: #2a8b32;
$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px
  );

  @import "bootstrap/scss/bootstrap";
  
body{
  font-family: "Roboto", sans-serif;
  // font-family: "Oswald", "sans-serif" ;
}  